@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
body,
input,
html {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding: 35px;
}

.search-container {
  width: 45%;
  margin: auto;
  display: flex;
  input {
    margin: auto;
    width: 100%;
    border-radius: 50px 0 0 50px;
  }
  button {
    border-radius: 0 50px 50px 0;
  }
  @media (max-width: '760px ') {
    width: 80%;
  }
}

.error-message {
  width: 44%;
  margin: 10px auto;
  color: red;
  font-size: 1.55rem;
  @media (max-width: '760px ') {
    width: 80%;
  }
}

.weathers-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 55%;
  margin: 50px auto;
  grid-gap: 50px 20px;
  div {
    margin: auto;
  }
  @media (max-width: '1570px') {
    width: 85%;
  }
  @media (max-width: '1050px') {
    width: 90%;
    grid-template-columns: repeat(2, 50%);
  }
  @media (max-width: '700px') {
    width: 90%;
    grid-template-columns: repeat(1, 100%);
  }
}
